<div class="criar-receita">
    <form action="#">
        <input type="text" placeholder="Nome do projeto" required>
        <input type="number" placeholder="Altura (cm)" required>
        <input type="number" placeholder="Largura (cm)" required>
        <input type="upload" accept="image/*" placeholder="Imagem de referência" required>
        <input type="number" placeholder="Amostra Altura (cm)" required>
        <input type="number" placeholder="Amostra Largura (cm)" required>
    </form>
</div>