<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crochê Inteligente</title>
    <link rel="stylesheet" href="/app/asset/style/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="menu">
            <a href="#">Receita personalizada</a>
            <a href="#">Inspirações</a>
            <a href="#">Biblioteca de pontos</a>
            <a href="#">Calculadora de materiais</a>
        </nav>
        <div class="perfil">
            <!-- <img src="" alt=""> -->
            <span>Usuário</span>
        </div>
    </header>

    <main class="conteudo">
        <div class="home">
            <div class="logo">
                <img src="/app/asset/imagem/c.png" alt="Logo Crochê Inteligente">
            </div>
            <div>
                <h1>rochê Inteligente</h1>
                <div class="descricao">
                    <p>Bem-vindo ao Crochê Inteligente! Aqui você pode criar peças de crochê personalizadas com a ajuda da inteligência artificial.</p>
                    <a href="#" id="abrirReceita">Criar nova peça de crochê</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>