<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crochê Inteligente</title>
    <link rel="stylesheet" href="/app/asset/style/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/app/views/index.html">
            <img src="/app/asset/imagem/c.png" alt="Logo Crochê Inteligente">
        </a>
        <nav class="menu">
            <a href="/app/views/criarReceita.html">Receita personalizada</a>
            <a href="#" class="ativo">Inspirações</a>
            <a href="/app/views/bibliotecaPontos.html">Biblioteca de pontos</a>
            <a href="#">Calculadora de materiais</a>
        </nav>
        <div class="perfil">
            <!-- <img src="" alt=""> -->
            <span>Usuário</span>
        </div>
    </header>

    <main class="conteudo">
        <div class="inspiracao">
            <div class="filtro">
                <div class="pecas">Peças </div>
                <div class="cor">Cor</div>
            </div>
            <div class="inspiracaoFotos"></div>
        </div>
    </main>
    <script src="/app/asset/script/inspiracao.js"></script>
</body>
</html>